#special {
    margin-top: 10rem;
}

.special-card-section {
    display: grid;
    grid-template-columns: repeat(3, 12fr);
    margin: 0 auto;
    align-items: center;
    gap: 0 3rem;
}

.special-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-card {
    height: 453px;
}

.special-title {
    font-family: 'Markazi Text';
    font-size: 48px;
}

@media (max-width: 1000px){
    .special-title {
        font-size: 44px;
    }

    .special-btn {
        padding: 10px;
        width: 150px;
        font-size: 14px;
        font-weight: 600;
    }
}

@media (max-width: 841px){
    .special-title {
        font-size: 34px;
    }
}

@media (max-width: 820px){
    #special {
        margin-top: 7rem;
    }
}

@media (max-width: 800px){
    #special {
    margin-top: 6rem;
    }

    .special-title {
        font-size: 34px;
    }
}

@media (max-width: 788px){
    #special {
        margin-top: 6rem;
    }

    .special-card-section {
        grid-template-columns: repeat(2, 12fr);
        grid-auto-rows: auto;
        gap: 0 2rem;
    }
}

@media (max-width: 600px){
    #special {
        margin-top: 7rem;
    }
}

@media (max-width: 641px){
    .special-title {
        font-size: 30px;
    }
}

@media (max-width: 556px){
    .special-card-section {
        grid-template-columns: repeat(1, 12fr);
        grid-auto-rows: auto;
        gap: 0 2rem;
        align-items: center;
    }

    .special-title {
        font-size: 26px;
    }

    .special-btn {
        padding: 10px;
        width: 110px;
        font-size: 11px;
        font-weight: 600;
    }
}

@media (max-width: 414px){
    #special {
        margin-top: 2rem;
    }
}

@media (max-width: 375px){
    .special-card-section {
        grid-template-columns: repeat(1, 12fr);
        grid-auto-rows: auto;
        gap: 0 2rem;
        align-items: center;
    }

    .special-title {
        font-size: 20px;
    }

    .special-btn {
        padding: 10px;
        width: 110px;
        font-size: 11px;
        font-weight: 600;
    }

    #special {
        margin-top: 2rem;
    }
}

@media (max-width: 320px){
    .special-title {
        font-size: 16px;
    }
}

@media (max-width: 240px){
    .special-title {
        font-size: 17px;
    }
}