.price {
    color: #F4CE14;
    font-size: 1.1rem;
}

.food-card {
    background-color: #edefee;
}

.food-card-delivery {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}