#hero {
    background-color: #495E47;
    padding: 1rem 0;
}

.section-hero {
    display: grid;
    grid-template-columns: repeat(2, 60fr);
    margin: 0 auto;
    gap: 0 9.6rem;
}

.hero-text-box {
    margin-top: 2rem;
}

.hero-btn-box {
    margin-top: 3rem;
}

.hero-header > h3{
    color: #F4C314;
    font-family: 'Markazi Text';
    font-size: 64px;
}

.hero-header > h5{
    /* margin-top: 1rem; */
    color: #ffffff;
    font-family: 'Markazi Text';
    font-size: 40px;
}

.hero-text > p{
    color: #ffffff;
    font-family: 'karla';
    font-size: 23px;
}

.hero-img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: absolute;
    top: -130px;
    width: 308px;
    height: 493px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

@media (max-width: 1000px){
    .hero-img {
        width: auto;
        height: 393px;
    }

    .hero-header > h3{
        font-size: 44px;
    }

    .hero-header > h5{
        font-size: 20px;
    }

    .hero-text > p{
        font-size: 16px;
    }

    #navbar .nav-items li{
      margin-bottom: 1.8rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
}

@media (max-width: 912px){
    .hero-img {
        top: -90px;
    }

    .hero-header > h5 {
        margin-top: 0rem;
    }

    .hero-text-box {
        margin-top: 0rem;
    }
    .hero-btn-box {
        margin-top: 1.4rem;
    }
}

@media (max-width: 841px){
    .section-hero {
        display: grid;
        grid-template-columns: repeat(2, 12fr);
        gap: 0 2.6rem;
    }

    .hero-header > h3{
        font-size: 34px;
    }

    .hero-header > h5{
        font-size: 17px;
    }

    .hero-text > p{
        font-size: 14px;
    }

    .hero-img {
        width: auto;
        height: 303px;
    }

    .hero-img-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 820px){
    .hero-img {
        top: -60px;
        width: auto;
        height: 303px;
    }

    .hero-header > h5 {
        margin-top: 0rem;
    }

    .hero-text-box {
        margin-top: 0.5rem;
    }

    .hero-btn-box {
        margin-top: 1rem;
    }
}

@media (max-width: 712px){
    #hero {
        padding: 2rem 0;
    }
    .hero-img {
        top: -60px;
        width: auto;
        height: 303px;
    }

    .hero-header > h5 {
        margin-top: 0rem;
    }

    .hero-text-box {
        margin-top: 0.5rem;
    }

    .hero-btn-box {
        margin-top: 1rem;
    }
}

@media (max-width: 600px){
    .hero-img {
        top: -72px;
        border-radius: 30px;
    }

    .hero-header > h5{
        font-size: 14px;
        margin-top: 0rem;
    }

    .hero-text-box {
        margin-top: 0.43rem;
    }

    .hero-btn-box {
        margin-top: 1rem;
    }
}

@media (max-width: 414px){
    .hero-img {
        top: 0px;
        border-radius: 30px;
        width: 110px;
        height: 110px;
    }

    #hero {
        padding: 1rem 0;
    }
}

/* @media (max-width: 384px){
    .hero-img {
        top: 0px;
        border-radius: 30px;
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 360px){
    .hero-img {
        border-radius: 30px;
        width: 130px;
        height: 130px;
    }
} */

/* @media (max-width: 320px){
    .hero-img {
        top: 0px;
        border-radius: 30px;
        width: 130px;
        height: 130px;
    }
} */

@media (max-width: 240px){
    #hero {
        padding: 1rem 0;
    }

    .hero-img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }

    .hero-text-box > .hero-text {
        margin-top: 0rem;
    }

    .hero-header > h3 {
        font-size: 24px;
    }

    .hero-text > p {
        font-size: 10px;
    }

    .hero-text-box {
        margin-top: 0.43rem;
    }
}